<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-dtrack' => true %>

  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
</head>
<body>
  <%= render 'layouts/admin_header' %>
  <%= render 'layouts/admin_content' %>
  
  <%= render 'layouts/footer' %>
  <%= render 'layouts/script' %>
</body>
</html>
