<h2><a href="/">欢迎来到留言板应用！</a></h2>
<a href="/add"><button type="button" class="btn btn-link">添加留言</button></a>
<form class="form-inline" method='get' action="/">
	<select class="form-control" name='select'>
		<option value="id">ID</option>
		<option value="author" selected='selected'>Author</option> 
	</select>
	<div class="form-group">
		<label class="sr-only">value</label> 
		<input class="form-control" type='text' name="value">
	</div>
	<button type='submit' class="btn btn-default">查询</button>
</form>
<table class="table table-striped">
	<tr>
		<th>ID</th>
		<th>作者</th>
		<th>留言</th>
		<th>时间</th>
		<th>操作</th>
	</tr>
<% if not @ids.nil? %>
<% @ids.each do |id| %>
	<tr>
		<td>
			<%= id %>
		</td>
		<td>
			<%= $info.messages[id.to_s]['author'] %>	
		</td>
		<td>
			<%= $info.messages[id.to_s]['content'] %>
		</td>
		<td>
			<% time = Time.at $info.messages[id.to_s]['created_at'] %>
			<%= "#{time.year}-#{time.month}-#{time.day} #{time.hour}:#{time.min}" %>
		</td>
		<td>
				<form method="post" action="/delete/<%= id %>">
					<button class="btn btn-danger" type="submit">删除</button>
				</form>
		</td>
	</tr>
<% end %>
<% end %>
<%= @error %>
</table>
