<% if not @messages.nil? %>
<% @messages.each do |msg| %>
	<% user = User.find(msg.user_id) %>
<div class="messages col-sm-8">
	<div class="message col-sm-8 col-sm-offset-2">
		<div class="message-header">
			<div class="author col-sm-2">
				<%= user.name %>
			</div>
			<div class="dropdown col-sm-1 col-sm-offset-8">
				<% if !session['username'].nil? && User.find(msg.user_id).name==session['username'] %>
				<li class="btn btn-link dropdown-toggle" type="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
					操作
					<span class="caret"></span>
				</li>
				<ul class="dropdown-menu" aria-labelledby="optionMenu">
					<li>	
						<form method="post" action="/delete/<%= msg.id %>">
							<button class="btn btn-link" type="submit">删除</button>
						</form>
					</li>
				</ul>
				<% end %>
			</div>
		</div>
		<div class="message-content col-sm-12">
			<%= msg.content %> 
		</div>
		<div class="message-footer col-sm-12">
			<% time = msg.created_at.localtime %>
			<%= time.strftime("%Y-%m-%d %H:%M:%S") %>
		</div>
	</div>
</div>
<% end %>
<% end %>
<%= @error %>
</table>
